<div class="container">
  <form class="content">

    <div class="label-content">
      <label for="id">Id</label>
      <input class="input" type="text" disabled [(ngModel)]="id" name="id">
    </div>

    <div class="label-content">
      <label for="author">Author</label>
      <input class="input" type="text" [(ngModel)]="author" name="author">
    </div>

    <div class="label-content">
      <label for="musica">Musica</label>
      <input class="input" type="text" [(ngModel)]="musica" name="musica">
    </div>

    <div class="btn-salvar">
      <button class="btn" (click)="buttonClick()"> {{ id ? 'Editar' : 'Salvar' }} </button>
    </div>

    <table class="table">
      <thead class="title-thead">
        <th> Id </th>
        <th> Author </th>
        <th> Musica </th>
        <th> <span class="alterar-salvar"> Alterar </span> </th>
        <th> <span class="alterar-salvar"> Remover </span> </th>
      </thead>

      <tbody>
        <tr *ngFor="let musica of musicas$ | async">
          <td > {{ musica.id }} </td>
          <td> {{ musica.author }} </td>
          <td> {{ musica.text }} </td>
          <td><span class="alterar" (click)="preencherCampos(musica)"> Alterar </span></td>
          <td><span class="remover" (click)="removerMusica(musica.id!)"> Remover </span></td>
        </tr>

      </tbody>
    </table>
  </form>
</div>
